{% set page="players" %}
{% extends "layout.html" %}
{% block title %}Joueurs{% endblock %}
{% block body %}
<h1 class="ui center aligned icon header">
        <i class="circular emphasized icon users"></i>
        <div class="content">Joueurs</div>
        <div class="sub header">Gérez vos joueurs en un clic !</div>
</h1>
<div class="ui divider horizontal"><i class="circular users icon"></i></div>
<div class="ui menu tabular">
	<a class="item" href="{{ urlFor('players') }}">Joueurs en ligne</a>
	<a class="item" href="{{ urlFor('players-ops') }}">Opérateurs</a>
	<a class="item" href="{{ urlFor('players-banned') }}">Joueurs bannis</a>
	<a class="item" href="{{ urlFor('players-banned-ip') }}">Adresse IPs bannies</a>
	<a class="active item" href="{{ urlFor('players-whitelist') }}">Whitelist</a>
</div>
{% if whitelist is empty %}
	Aucun joueur n'est dans la whitelist actuellement.
{% else %}
	<div class="ui divided list">
	{% for p in whitelist %}
		<div class="item">
			<div class="right floated tiny red ui button" onclick="cmd('whitelist remove {{ p.name }}');"><i class="legal icon"></i> Supprimer de la whitelist</div>
			<div class="right floated tiny green ui button" onclick="{% if p in ops %}cmd('deop {{ p.name }}');{% else %}cmd('op {{ p.name }}');{% endif %}">
			{% if p.name in ops %}
				<i class="url icon"></i> Dé-op
			{% else %}
				<i class="certificate icon"></i> Op
			{% endif %}
			</div>
			<img class="ui avatar image" src="https://minotar.net/avatar/{{ p.name }}" />
			<div class="content">
			<div class="header">{{ p.name }}</div>
			</div>
		</div>
	{% endfor %}
	</div>
	<script>
		function cmd(c) {
			$.post('{{ urlFor('run-cmd') }}', {cmd: c}, function(c) {
				document.location.href = '';
			});
		}
	</script>
{% endif %}
{% endblock %}